In [88]:
import pandas as pd
train=pd.read_csv('train.csv')
test=pd.read_csv('test-comb.csv')

In [89]:
test.head()
test.columns

Index(['Unnamed: 0', 'User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation',
       'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'Comb'],
      dtype='object')

In [90]:
Gender_Dict={'M':1,'F':0}
Age_Dict={'0-17':0,'18-25':1,'26-35':2,'36-45':3,'46-50':4,'51-55':5,'55+':6}
City_Dict={'A':0,'B':1,'C':2}
StayIn_Dict={'0':0,'1':1,'2':2,'3':3,'4+':4}

In [91]:
train.Gender=train.Gender.apply(lambda x: Gender_Dict[x])
test.Gender=test.Gender.apply(lambda x: Gender_Dict[x])

train.Age=train.Age.apply(lambda x: Age_Dict[x])
test.Age=test.Age.apply(lambda x: Age_Dict[x])

train.City_Category=train.City_Category.apply(lambda x: City_Dict[x])
test.City_Category=test.City_Category.apply(lambda x: City_Dict[x])

train.Stay_In_Current_City_Years=train.Stay_In_Current_City_Years.apply(lambda x: StayIn_Dict[x])
test.Stay_In_Current_City_Years=test.Stay_In_Current_City_Years.apply(lambda x: StayIn_Dict[x])

In [92]:
train.fillna(-1,inplace=True)
test.fillna(-1,inplace=True)

In [93]:
def getCountVar(compute_df, count_df, var_name):
        grouped_df = count_df.groupby(var_name)
        count_dict = {}
        for name, group in grouped_df:
                count_dict[name] = group.shape[0]

        count_list = []
        for index, row in compute_df.iterrows():
                name = row[var_name]
                count_list.append(count_dict.get(name, 0))
        return count_list

In [94]:
train['Age_Count']=getCountVar(train,train,'Age')
test['Age_Count']=getCountVar(test,train,'Age')

train['Occupation_Count']=getCountVar(train,train,'Occupation')
test['Occupation_Count']=getCountVar(test,train,'Occupation')

train['Product_Category_1_Count']=getCountVar(train,train,'Product_Category_1')
test['Product_Category_1_Count']=getCountVar(test,train,'Product_Category_1')

train['Product_Category_2_Count']=getCountVar(train,train,'Product_Category_2')
test['Product_Category_2_Count']=getCountVar(test,train,'Product_Category_2')

train['Product_Category_3_Count']=getCountVar(train,train,'Product_Category_3')
test['Product_Category_3_Count']=getCountVar(test,train,'Product_Category_3')

In [95]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Age_Count,Occupation_Count,Product_Category_1_Count,Product_Category_2_Count,Product_Category_3_Count
0,1000001,P00069042,0,0,10,0,2,0,3,-1.0,-1.0,8370,15102,12930,20213,173638,383247
1,1000001,P00248942,0,0,10,0,2,0,1,6.0,14.0,15200,15102,12930,140378,16466,18428
2,1000001,P00087842,0,0,10,0,2,0,12,-1.0,-1.0,1422,15102,12930,3947,173638,383247
3,1000001,P00085442,0,0,10,0,2,0,12,14.0,-1.0,1057,15102,12930,3947,55108,383247
4,1000002,P00285442,1,6,16,2,4,0,8,-1.0,-1.0,7969,21504,25371,113925,173638,383247

In [96]:
train.to_csv('train_mod.csv')
test.to_csv('test_mod.csv')