In [1]:
import pandas as pd
import numpy as np
train=pd.read_csv('train_mod.csv')
test=pd.read_csv('test_mod.csv')

In [2]:
train.head()

,Unnamed: 0,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Age_Count,Occupation_Count,Product_Category_1_Count,Product_Category_2_Count,Product_Category_3_Count
0,0,1000001,P00069042,0,0,10,0,2,0,3,-1.0,-1.0,8370,15102,12930,20213,173638,383247
1,1,1000001,P00248942,0,0,10,0,2,0,1,6.0,14.0,15200,15102,12930,140378,16466,18428
2,2,1000001,P00087842,0,0,10,0,2,0,12,-1.0,-1.0,1422,15102,12930,3947,173638,383247
3,3,1000001,P00085442,0,0,10,0,2,0,12,14.0,-1.0,1057,15102,12930,3947,55108,383247
4,4,1000002,P00285442,1,6,16,2,4,0,8,-1.0,-1.0,7969,21504,25371,113925,173638,383247

In [3]:
def getPurchaseVar(compute_df, purchase_df, var_name):
        grouped_df = purchase_df.groupby(var_name)
        min_dict = {}
        max_dict = {}
        mean_dict = {}
        twentyfive_dict = {}
        seventyfive_dict = {}
        for name, group in grouped_df:
                min_dict[name] = min(np.array(group["Purchase"]))
                max_dict[name] = max(np.array(group["Purchase"]))
                mean_dict[name] = np.mean(np.array(group["Purchase"]))
                twentyfive_dict[name] = np.percentile(np.array(group["Purchase"]),25)
                seventyfive_dict[name] = np.percentile(np.array(group["Purchase"]),75)

        min_list = []
        max_list = []
        mean_list = []
        twentyfive_list = []
        seventyfive_list = []
        for index, row in compute_df.iterrows():
                name = row[var_name]
                min_list.append(min_dict.get(name,0))
                max_list.append(max_dict.get(name,0))
                mean_list.append(mean_dict.get(name,0))
                twentyfive_list.append( twentyfive_dict.get(name,0))
                seventyfive_list.append( seventyfive_dict.get(name,0))

        return min_list, max_list, mean_list, twentyfive_list, seventyfive_list

In [4]:
min_list,max_list,mean_list,twentyfive_list, seventyfive_list=getPurchaseVar(train,train,"Product_Category_1")
train['Product_Category_1_min_list']=min_list
train['Product_Category_1_max_list']=max_list
train['Product_Category_1_mean_list']=mean_list
train['Product_Category_1_25_list']=twentyfive_list
train['Product_Category_1_75_list']=seventyfive_list

min_list,max_list,mean_list,twentyfive_list, seventyfive_list=getPurchaseVar(train,train,"Product_Category_2")
train['Product_Category_2_min_list']=min_list
train['Product_Category_2_max_list']=max_list
train['Product_Category_2_mean_list']=mean_list
train['Product_Category_2_25_list']=twentyfive_list
train['Product_Category_2_75_list']=seventyfive_list

min_list,max_list,mean_list,twentyfive_list, seventyfive_list=getPurchaseVar(train,train,"Product_Category_3")
train['Product_Category_3_min_list']=min_list
train['Product_Category_3_max_list']=max_list
train['Product_Category_3_mean_list']=mean_list
train['Product_Category_3_25_list']=twentyfive_list
train['Product_Category_3_75_list']=seventyfive_list

In [5]:
min_list,max_list,mean_list,twentyfive_list, seventyfive_list=getPurchaseVar(test,train,"Product_Category_1")
test['Product_Category_1_min_list']=min_list
test['Product_Category_1_max_list']=max_list
test['Product_Category_1_mean_list']=mean_list
test['Product_Category_1_25_list']=twentyfive_list
test['Product_Category_1_75_list']=seventyfive_list

min_list,max_list,mean_list,twentyfive_list, seventyfive_list=getPurchaseVar(test,train,"Product_Category_2")
test['Product_Category_2_min_list']=min_list
test['Product_Category_2_max_list']=max_list
test['Product_Category_2_mean_list']=mean_list
test['Product_Category_2_25_list']=twentyfive_list
test['Product_Category_2_75_list']=seventyfive_list

min_list,max_list,mean_list,twentyfive_list, seventyfive_list=getPurchaseVar(test,train,"Product_Category_3")
test['Product_Category_3_min_list']=min_list
test['Product_Category_3_max_list']=max_list
test['Product_Category_3_mean_list']=mean_list
test['Product_Category_3_25_list']=twentyfive_list
test['Product_Category_3_75_list']=seventyfive_list

In [6]:
train.head()

,Unnamed: 0,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,...,Product_Category_2_min_list,Product_Category_2_max_list,Product_Category_2_mean_list,Product_Category_2_25_list,Product_Category_2_75_list,Product_Category_3_min_list,Product_Category_3_max_list,Product_Category_3_mean_list,Product_Category_3_25_list,Product_Category_3_75_list
0,0,1000001,P00069042,0,0,10,0,2,0,3,...,12,23959,7518.695389,5254.00,8783.0,12,23961,8221.836943,5328.0,9882.00
1,1,1000001,P00248942,0,0,10,0,2,0,1,...,1714,19708,11503.551379,7060.25,15632.0,1714,20689,10052.594530,6862.0,15212.25
2,2,1000001,P00087842,0,0,10,0,2,0,12,...,12,23959,7518.695389,5254.00,8783.0,12,23961,8221.836943,5328.0,9882.00
3,3,1000001,P00085442,0,0,10,0,2,0,12,...,185,23939,7105.264916,5317.00,8617.0,12,23961,8221.836943,5328.0,9882.00
4,4,1000002,P00285442,1,6,16,2,4,0,8,...,12,23959,7518.695389,5254.00,8783.0,12,23961,8221.836943,5328.0,9882.00

In [7]:
test.head()

,Unnamed: 0,Unnamed: 0.1,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,...,Product_Category_2_min_list,Product_Category_2_max_list,Product_Category_2_mean_list,Product_Category_2_25_list,Product_Category_2_75_list,Product_Category_3_min_list,Product_Category_3_max_list,Product_Category_3_mean_list,Product_Category_3_25_list,Product_Category_3_75_list
0,0,0,1000004,P00128942,1,4,7,1,2,0,...,707,20688,8940.580515,5321.0,11899.5,12,23961,8221.836943,5328.0,9882.00
1,1,1,1000009,P00113442,1,2,17,2,0,0,...,684,19708,9027.821574,2826.0,13509.0,12,23961,8221.836943,5328.0,9882.00
2,2,2,1000010,P00288442,0,3,1,1,4,0,...,185,23939,7105.264916,5317.0,8617.0,12,23961,8221.836943,5328.0,9882.00
3,3,3,1000010,P00145342,0,3,1,1,4,0,...,710,16504,7277.006851,5241.0,8838.0,12,23961,8221.836943,5328.0,9882.00
4,4,4,1000011,P00053842,0,2,1,2,1,0,...,684,19708,9027.821574,2826.0,13509.0,684,19706,8715.512762,5422.0,11023.75

In [8]:
train=train.drop(['Unnamed: 0'],1)
test=test.drop(['Unnamed: 0','Unnamed: 0.1'],1)

In [9]:
from xgboost import XGBClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import StratifiedKFold

In [10]:
y=train.Purchase
X=train.drop('Purchase',1)

In [11]:

model = XGBClassifier()
learning_rate = [0.0001, 0.001, 0.01, 0.1, 0.2, 0.3]
param_grid = dict(learning_rate=learning_rate)
kfold = StratifiedKFold(y, n_folds=5, shuffle=True, random_state=7)
grid_search = GridSearchCV(model, param_grid, scoring="rmse", n_jobs=-1, cv=kfold)
result = grid_search.fit(X,y)
# summarize results
print("Best: %f using %s" % (result.best_score_, result.best_params_))
means, stdevs = [], []
for params, mean_score, scores in result.grid_scores_:
    stdev = scores.std()
    means.append(mean_score)
    stdevs.append(stdev)
    print("%f (%f) with: %r" % (mean_score, stdev, params))

/home/subir_sbr/anaconda3/lib/python3.5/site-packages/sklearn/cross_validation.py:516: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=5.
  % (min_labels, self.n_folds)), Warning)

ValueError: 'rmse' is not a valid scoring value. Valid options are ['accuracy', 'adjusted_rand_score', 'average_precision', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted', 'log_loss', 'mean_absolute_error', 'mean_squared_error', 'median_absolute_error', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'r2', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'roc_auc']