In [1]:
import pandas as pd
challenge=pd.read_csv('challenges.csv')
submissions=pd.read_csv('submissions.csv')

In [2]:
n_challenge = challenge.challenge_id.unique().shape[0]
n_contest =challenge.contest_id.unique().shape[0]
print ('Number of challenge = ' + str(n_challenge) + ' | Number of contest = ' + str(n_contest)  )

Number of challenge = 2228 | Number of contest = 256

In [3]:
n_users = submissions.hacker_id.unique().shape[0]
n_items =submissions.challenge_id.unique().shape[0]
print ('Number of hackers = ' + str(n_users) + ' | Number of challenges = ' + str(n_items)  )

Number of hackers = 10000 | Number of challenges = 2156

In [4]:
print(challenge.shape)
print(challenge.domain.isnull().sum())
print(challenge.subdomain.isnull().sum())
submissions=submissions.drop('created_at',1)
del challenge['domain']
del challenge['subdomain']

(2865, 7)
1576
1576

In [5]:
df=pd.merge(submissions,challenge)
df.head()

,hacker_id,contest_id,challenge_id,language,solved,difficulty,solved_submission_count,total_submissions_count
0,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,0.647109,391,1184
1,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,0.647109,391,1184
2,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,0.647109,391,1184
3,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,0.647109,391,1184
4,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,0.647109,391,1184

In [6]:
matrix = df.pivot_table(index=['hacker_id'], columns=['challenge_id'], values='solved')
matrix.head()

challenge_id,00014449a0541424,0008acfcc2194c4b,004fcad83342940f,00557525d18c8d46,005d4ee9b6d9c993,006551bddafadcf6,006f898cfac64dc4,0085ebe963e41545,009eebdd1046aedd,00aec2c86c963f0b,...,ff363c702e7af3a3,ff4ded4f221d0b9d,ff665f6ac93c3e02,ff883052c3a1d18b,ffa0445299656a88,ffa10a5ee5a3afe1,ffc7defbbd656390,ffd5ad5244082694,fff72beb69e825fe,fff8a2f3589cb399
hacker_id,,,,,,,,,,,,,,,,,,,,,
00004cf8b853ad0d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00010020d9cd62a0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
000c08c3a6f1ee15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000d0dde89911c9f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000d3364ba25d742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.333333,NaN,NaN,NaN,NaN,NaN

In [7]:
# a little tidying up. fill NA values with 0 and make the index into a column
matrix = matrix.fillna(0).reset_index()
# save a list of the 0/1 columns. we'll use these a bit later
x_cols = matrix.columns[1:]
x_cols

Index(['00014449a0541424', '0008acfcc2194c4b', '004fcad83342940f',
       '00557525d18c8d46', '005d4ee9b6d9c993', '006551bddafadcf6',
       '006f898cfac64dc4', '0085ebe963e41545', '009eebdd1046aedd',
       '00aec2c86c963f0b',
       ...
       'ff363c702e7af3a3', 'ff4ded4f221d0b9d', 'ff665f6ac93c3e02',
       'ff883052c3a1d18b', 'ffa0445299656a88', 'ffa10a5ee5a3afe1',
       'ffc7defbbd656390', 'ffd5ad5244082694', 'fff72beb69e825fe',
       'fff8a2f3589cb399'],
      dtype='object', name='challenge_id', length=2156)

In [8]:
from sklearn.cluster import KMeans

cluster = KMeans(n_clusters=5)
# slice matrix so we only include the 0/1 indicator columns in the clustering
matrix['cluster'] = cluster.fit_predict(matrix[matrix.columns[2:]])
matrix.cluster.value_counts()

0    6777
1    1864
2     518
3     453
4     388
Name: cluster, dtype: int64

In [9]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
matrix['x'] = pca.fit_transform(matrix[x_cols])[:,0]
matrix['y'] = pca.fit_transform(matrix[x_cols])[:,1]
matrix = matrix.reset_index()

In [10]:
customer_clusters = matrix[['hacker_id','', 'cluster', 'x', 'y']]
customer_clusters.head()

challenge_id         hacker_id  cluster         x         y
0             00004cf8b853ad0d        0 -0.808848 -0.114191
1             00010020d9cd62a0        4  0.340460  0.009033
2             000c08c3a6f1ee15        1  0.543029 -0.514371
3             000d0dde89911c9f        0 -0.694633 -0.179504
4             000d3364ba25d742        0 -0.452437 -0.171111

In [13]:
print(challenge.columns)
print(customer_clusters.columns)

Index(['challenge_id', 'contest_id', 'difficulty', 'solved_submission_count',
       'total_submissions_count'],
      dtype='object')
Index(['hacker_id', 'cluster', 'x', 'y'], dtype='object', name='challenge_id')

In [ ]:
df = pd.merge(submissions, customer_clusters)
df = pd.merge(challenge, df)

from ggplot import *

ggplot(df, aes(x='x', y='y', color='cluster')) + \
    geom_point(size=75) + \
    ggtitle("Hackers Grouped by Cluster")

In [ ]:
cluster_centers = pca.transform(cluster.cluster_centers_)
cluster_centers = pd.DataFrame(cluster_centers, columns=['x', 'y'])
cluster_centers['cluster'] = range(0, len(cluster_centers))

ggplot(df, aes(x='x', y='y', color='cluster')) + \
    geom_point(size=75) + \
    geom_point(cluster_centers, size=500) +\
    ggtitle("Hackers Grouped by Cluster")