In [320]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split

In [321]:
train=pd.read_csv('train_LP.csv')
test=pd.read_csv('test_LP.csv')
train=pd.DataFrame(train)
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [322]:
train.loc[train['Gender']=='Male','Gender']=1
train.loc[train['Gender']=='Female','Gender']=0

test.loc[test['Gender']=='Male','Gender']=1
test.loc[test['Gender']=='Female','Gender']=0

In [323]:
train.groupby('Property_Area').Loan_Status.value_counts()

Property_Area  Loan_Status
Rural          Y              110
               N               69
Semiurban      Y              179
               N               54
Urban          Y              133
               N               69
Name: Loan_Status, dtype: int64

In [324]:
arr=train.groupby('Property_Area').Loan_Status.value_counts()

In [325]:
train.groupby(['Education','Gender']).Loan_Status.value_counts()

Education     Gender  Loan_Status
Graduate      0       Y               61
                      N               31
              1       Y              271
                      N              105
Not Graduate  0       Y               14
                      N                6
              1       Y               68
                      N               45
Name: Loan_Status, dtype: int64

In [326]:
train.loc[train['Married']=='Yes','Married']=1
train.loc[train['Married']=='No','Married']=0

test.loc[test['Married']=='Yes','Married']=1
test.loc[test['Married']=='No','Married']=0

train.loc[train['Education']=='Graduate','Education']=1
train.loc[train['Education']=='Not Graduate','Education']=0

test.loc[test['Education']=='Graduate','Education']=1
test.loc[test['Education']=='Not Graduate','Education']=0

train.loc[train['Self_Employed']=='Yes','Self_Employed']=1
train.loc[train['Self_Employed']=='No','Self_Employed']=0

test.loc[test['Self_Employed']=='Yes','Self_Employed']=1
test.loc[test['Self_Employed']=='No','Self_Employed']=0

In [327]:
train.loc[train['Property_Area']=='Semiurban','Property_Area']=arr[2]/(arr[2]+arr[3])
train.loc[train['Property_Area']=='Urban','Property_Area']=arr[4]/(arr[4]+arr[5])
train.loc[train['Property_Area']=='Rural','Property_Area']=arr[0]/(arr[0]+arr[1])

test.loc[test['Property_Area']=='Semiurban','Property_Area']=arr[2]/(arr[2]+arr[3])
test.loc[test['Property_Area']=='Urban','Property_Area']=arr[4]/(arr[4]+arr[5])
test.loc[test['Property_Area']=='Rural','Property_Area']=arr[0]/(arr[0]+arr[1])

In [328]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,1,0,5849,0.0,NaN,360.0,1.0,0.658416,Y
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0.614525,N
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,0.658416,Y
3,LP001006,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,0.658416,Y
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,0.658416,Y

In [329]:
train.loc[train['Loan_Status']=='Y','Loan_Status']=1
train.loc[train['Loan_Status']=='N','Loan_Status']=0

In [330]:
train.Gender.isnull().sum()
[x for x in train.columns]

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History',
 'Property_Area',
 'Loan_Status']

In [331]:
def check_Null(data):
    col=[x for x in data.columns]
    l=[]
    for j in  col:
        print("For col %s Null Count is:"% j)
        print(train[j].isnull().sum())
        if(train[j].isnull().sum()!=0):
            l.append(j)
    return l
        

missing_value=[]
missing_value=check_Null(train)
missing_value

For col Loan_ID Null Count is:
0
For col Gender Null Count is:
13
For col Married Null Count is:
3
For col Dependents Null Count is:
15
For col Education Null Count is:
0
For col Self_Employed Null Count is:
32
For col ApplicantIncome Null Count is:
0
For col CoapplicantIncome Null Count is:
0
For col LoanAmount Null Count is:
22
For col Loan_Amount_Term Null Count is:
14
For col Credit_History Null Count is:
50
For col Property_Area Null Count is:
0
For col Loan_Status Null Count is:
0

['Gender',
 'Married',
 'Dependents',
 'Self_Employed',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

In [332]:
medianLA = np.mean(train.LoanAmount)
train.LoanAmount = train.LoanAmount.fillna(medianLA)

medianLA = np.mean(test.LoanAmount)
test.LoanAmount = test.LoanAmount.fillna(medianLA)

medianLA = np.mean(train.Loan_Amount_Term)
train.Loan_Amount_Term = train.Loan_Amount_Term.fillna(medianLA)

medianLA = np.mean(test.Loan_Amount_Term)
test.Loan_Amount_Term = test.Loan_Amount_Term.fillna(medianLA)


medianLA = np.mean(train.Credit_History)
train.Credit_History= train.Credit_History.fillna(medianLA)

medianLA = np.mean(test.Credit_History)
test.Credit_History = test.Credit_History.fillna(medianLA)

In [333]:
train.fillna(0,inplace=True)
test.fillna(0,inplace=True)
train.groupby('Dependents').Loan_Status.value_counts()
train.loc[train['Dependents']=='3+','Dependents']=5
test.loc[test['Dependents']=='3+','Dependents']=5

In [334]:
test.head(
)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,0,1,0,5720,0,110.0,360.0,1.000000,0.658416
1,LP001022,1,1,1,1,0,3076,1500,126.0,360.0,1.000000,0.658416
2,LP001031,1,1,2,1,0,5000,1800,208.0,360.0,1.000000,0.658416
3,LP001035,1,1,2,1,0,2340,2546,100.0,360.0,0.825444,0.658416
4,LP001051,1,0,0,0,0,3276,0,78.0,360.0,1.000000,0.658416

In [335]:
train['Loan_Status'].value_counts()/train['Loan_Status'].count()

1    0.687296
0    0.312704
Name: Loan_Status, dtype: float64

In [336]:
train=train.drop('Loan_ID',1)
test_ID=test.Loan_ID
test=test.drop('Loan_ID',1)

In [337]:
y_train=train.Loan_Status
train=train.drop('Loan_Status',1)

In [338]:
train.ApplicantIncome.describe()

count      614.000000
mean      5403.459283
std       6109.041673
min        150.000000
25%       2877.500000
50%       3812.500000
75%       5795.000000
max      81000.000000
Name: ApplicantIncome, dtype: float64

In [339]:
train.head()
train['flag']=((train.ApplicantIncome/12)<(train.LoanAmount/train.Loan_Amount_Term)).astype(int)
test['flag']=((test.ApplicantIncome/12)<(test.LoanAmount/test.Loan_Amount_Term)).astype(int)

In [340]:
from sklearn import cross_validation
X_train_scale=scale(train)
X_test_scale=scale(test)
cv = cross_validation.KFold(len(train), n_folds=5)
# Fitting the logistic regression model
log=LogisticRegression(penalty='l2',C=1)
for traincv, testcv in cv:
    log.fit(X_train_scale[traincv],y_train[traincv])
# Checking the models accuracy
log.fit(X_train_scale,y_train)
y=log.predict(X_test_scale)

In [341]:
test_ID
test_ID=pd.DataFrame(test_ID,columns=['Loan_ID'])

In [342]:
y=pd.DataFrame(y,columns=['Loan_Status'])
y.loc[y['Loan_Status']==1,'Loan_Status']='Y'
y.loc[y['Loan_Status']==0,'Loan_Status']='N'

In [343]:
output= pd.DataFrame( data={"Loan_ID": test_ID["Loan_ID"], "Loan_Status":y.Loan_Status} )
output.to_csv("LPsubmission.csv", index=False,quoting=3)

X.head()

In [344]:
X.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0.072991,-0.554487,0.000000,0.279851,0.45164
1,-0.134412,-0.038732,-0.219273,0.279851,0.45164
2,-0.393747,-0.554487,-0.957641,0.279851,0.45164
3,-0.462062,0.251980,-0.314547,0.279851,0.45164
4,0.097728,-0.554487,-0.064454,0.279851,0.45164