In [1]:
import pandas as pd

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
train.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [4]:
train.Is_Response.value_counts()

happy        26521
not happy    12411
Name: Is_Response, dtype: int64

In [5]:
train.Description[0]

"The room was kind of clean but had a VERY strong smell of dogs. Generally below average but ok for a overnight stay if you're not too fussy. Would consider staying again if the price was right. Breakfast was free and just about better than nothing."

In [7]:
import gc
gc.collect()

111

In [8]:
test.head()

,User_ID,Description,Browser_Used,Device_Used
0,id80132,Looking for a motel in close proximity to TV t...,Firefox,Mobile
1,id80133,Walking distance to Madison Square Garden and ...,InternetExplorer,Desktop
2,id80134,Visited Seattle on business. Spent - nights in...,IE,Tablet
3,id80135,This hotel location is excellent and the rooms...,Edge,Mobile
4,id80136,This hotel is awesome I love the service Antho...,Mozilla,Mobile

In [10]:
x=train.Description.append(test.Description)

In [18]:
x.head()
x[0]

0    The room was kind of clean but had a VERY stro...
0    Looking for a motel in close proximity to TV t...
Name: Description, dtype: object

In [34]:
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))
filtered_words = [re.sub('[^A-Za-z0-9- ]+', '', word) for word in train.Description if word not in stop]

In [35]:
filtered_words[1]

'I stayed at the Crown Plaza April -- - April -- ---- The staff was friendly and attentive The elevators are tiny about - by - The food in the restaurant was delicious but priced a little on the high side Of course this is Washington DC There is no pool and little for children to do My room on the fifth floor had two comfortable beds and plenty of space for one person The TV is a little small by todays standards with a limited number of channels There was a small bit of mold in the bathtub area that could have been removed with a little bleach It appeared the carpets were not vacummed every day I reported a light bulb was burned out It was never replaced Ice machines are on the odd numbered floors but the one on my floor did not work I encountered some staff in the elevator one evening and I mentioned the ice machine to them Severel hours later a maid appeared at my door with ice and two mints Im not sure how they knew what room I was in That was a little unnerving I would stay here again for business but would not come here on vacation'

In [36]:
train.Description[1]

"I stayed at the Crown Plaza April -- - April --, ----. The staff was friendly and attentive. The elevators are tiny (about -' by -'). The food in the restaurant was delicious but priced a little on the high side. Of course this is Washington DC. There is no pool and little for children to do. My room on the fifth floor had two comfortable beds and plenty of space for one person. The TV is a little small by todays standards with a limited number of channels. There was a small bit of mold in the bathtub area that could have been removed with a little bleach. It appeared the carpets were not vacummed every day. I reported a light bulb was burned out. It was never replaced. Ice machines are on the odd numbered floors, but the one on my floor did not work. I encountered some staff in the elevator one evening and I mentioned the ice machine to them. Severel hours later a maid appeared at my door with ice and two mints. I'm not sure how they knew what room I was in. That was a little unnerving! I would stay here again for business, but would not come here on vacation."