In [1]:
import os,glob
import pandas as pd

In [2]:
data=pd.read_csv('Validtion.csv')

In [3]:
data.head()

,X-One Reference,Amount,Currency,Buy/Sell,Instrument Name,Product Price,Maturity Date,Trade Date,Option Type,Strike,Broker Fees,Broker Fees Ccy,Underlying Name
0,ELI-975159584,184000.00,KRW,Buy,EquityFuture,184000.000000,42992.0,42964,NaN,NaN,73.60000,KRW,036490.KQ
1,ELI-962384133,134010.00,SGD,Sell,EquityFuture,357.360000,42947.0,42913,NaN,NaN,0.00000,SGD,MSCI-SIN
2,ELI-962323609,178750.00,SGD,Buy,EquityFuture,357.500000,42916.0,42913,NaN,NaN,0.00000,SGD,MSCI-SIN
3,ELI-948923819,2788.04,AUD,Buy,EquitySecurity,11.063651,NaN,42859,NaN,NaN,0.11431,AUD,SEV.AX
4,ELI-946416395,30219.00,HKD,Sell,EquityFuture,10073.000000,42852.0,42849,NaN,NaN,12.00000,HKD,HSCE

In [6]:
columns=list(data.columns[1:])

In [7]:
columns

['Amount',
 'Currency',
 'Buy/Sell',
 'Instrument Name',
 'Product Price',
 'Maturity Date',
 'Trade Date',
 'Option Type',
 'Strike',
 'Broker Fees',
 'Broker Fees Ccy',
 'Underlying Name']

In [ ]:
for i in range(len(data)):
    for col in columns:
    data[]